<app-phases></app-phases>

<h2>Mots-clés</h2>
<dl class="grid grid-cols-1 md:grid-cols-2 gap-4">
  @for (item of keywords; track item.title) {
    <div class="p-2 rounded-lg odd:bg-black/[0.03] hover:bg-black/[0.06] transition-colors">
      <dt class="font-bold text-lg">
        {{ item.title }}
        @if (item.en) {
          <span class="text-sm font-normal italic ml-1">
            ({{ item.en }})
          </span>
        }
      </dt>
      <dd class="mt-1">
        {{ item.description }}
      </dd>
    </div>
  }
</dl>

<h2>Color combinations names</h2>
<h3>Guilds (2 colors)</h3>
<dl class="guild-colors">
  <div>
    <dt><b>Golgari</b> <span class="strixhaven tooltip" data-tip="Ce sont des mages de la nature, aux antipodes l'un de l'autre, qu'ils la subliment ou l'exploitent. Leur devise : « Il faut se salir les mains. »">(Witherbloom)</span></dt>
    <dd>⚫🟢<span>(Noir-Vert)</span></dd>
  </div>
  <div>
    <dt><b>Selesnya</b></dt>
    <dd>⚪🟢<span>(Blanc-Vert)</span></dd>
  </div>
  <div>
    <dt><b>Gruul</b></dt>
    <dd>🔴🟢<span>(Rouge-Vert)</span></dd>
  </div>
  <div>
    <dt><b>Simic</b> <span class="strixhaven tooltip" data-tip="Ce sont des génies des mathématiques, pour qui mathématiques et magie ne font qu'un. Leur devise : « Les maths, c'est de la magie. »">(Quandrix)</span></dt>
    <dd>🔵🟢<span>(Bleu-Vert)</span></dd>
  </div>
  <div>
    <dt><b>Azorius</b></dt>
    <dd>⚪🔵<span>(Blanc-Bleu)</span></dd>
  </div>
  <div>
    <dt><b>Orzhov</b> <span class="strixhaven tooltip" data-tip="Ils excellent dans l'art de la magie verbale, allant de la poésie inspirante aux insultes arcaniques mordantes. Leur devise : « Un style incisif. Un esprit encore plus aiguisé. »">(Silverquill)</span></dt>
    <dd>⚪⚫<span>(Blanc-Noir)</span></dd>
  </div>
  <div>
    <dt><b>Boros</b> <span class="strixhaven tooltip" data-tip="Des chercheurs et explorateurs passionnés qui consacrent leurs études à l'aventure et à la découverte. Leur devise : « Ne négliger aucun détail. »">(Lorehold)</span></dt>
    <dd>⚪🔴<span>(Blanc-Rouge)</span></dd>
  </div>
  <div>
    <dt><b>Dimir</b></dt>
    <dd>🔵⚫<span>(Bleu-Noir)</span></dd>
  </div>
  <div>
    <dt><b>Izzet</b> <span class="strixhaven tooltip" data-tip="Des mages qui privilégient l'aspect artistique, utilisant les éléments pour exprimer leurs émotions. Leur devise : « Exprimez-vous avec les éléments. »">(Prismari)</span></dt>
    <dd>🔵🔴<span>(Bleu-Rouge)</span></dd>
  </div>
  <div>
    <dt><b>Rakdos</b></dt>
    <dd>⚫🔴<span>(Noir-Rouge)</span></dd>
  </div>
</dl>
<h3>Guilds (3 colors)</h3>
<dl class="guild-colors">
  <div>
    <dt><b>Jund</b></dt>
    <dd>⚫🔴🟢<span>(Noir-Rouge-Vert)</span></dd>
  </div>
  <div>
    <dt><b>Naya</b></dt>
    <dd>⚪🔴🟢<span>(Blanc-Rouge-Vert)</span></dd>
  </div>

  <div>
    <dt><b>Abzan</b> - <i>Aussi appelé Junk</i></dt>
    <dd>⚪⚫🟢<span>(Blanc-Noir-Vert)</span></dd>
  </div>

  <div>
    <dt><b>Bant</b></dt>
    <dd>⚪🔵🟢<span>(Blanc-Bleu-Vert)</span></dd>
  </div>

  <div>
    <dt><b>Sultai</b></dt>
    <dd>🔵⚫🟢<span>(Bleu-Noir-Vert)</span></dd>
  </div>

  <div>
    <dt><b>Temur</b></dt>
    <dd>🔵🔴🟢<span>(Bleu-Rouge-Vert)</span></dd>
  </div>
  
  <div>
    <dt><b>Esper</b></dt>
    <dd>⚪🔵⚫<span>(Blanc-Bleu-Noir)</span></dd>
  </div>

  <div>
    <dt><b>Grixis</b></dt>
    <dd>🔵⚫🔴<span>(Bleu-Noir-Rouge)</span></dd>
  </div>

  <div>
    <dt><b>Jeskai</b></dt>
    <dd>⚪🔵🔴<span>(Blanc-Bleu-Rouge)</span></dd>
  </div>

  <div>
    <dt><b>Mardu</b></dt>
    <dd>⚪⚫🔴<span>(Blanc-Noir-Rouge)</span></dd>
  </div>
</dl>